snippet inc< "IncludeHeader" w
#include <$1>$0
endsnippet 

snippet inc" "IncludeHeader" w
#include "$1
endsnippet 

snippet while "Loop" w
while ($1) {
    $0
}
endsnippet

snippet for "Loop" w
for ($1; $2; $3) {
    $0
}
endsnippet

snippet main "Func" w
int main(int argc, char *argv[]) {
    $1
}
endsnippet
